@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}


/* =======================================================
Background Color
======================================================= */

.green-bg{    
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(to bottom, #BDE2CF,#fff);
}

/* =======================================================
Navbar
======================================================= */

.navbar
{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #C4E5D4;
  z-index: 1;
}

.navbar-brand{
  color: black;
  font-size: 22px;
}

.nav-link{
  color: black;
  font-size: 16px;
}

.nav-link:hover{
  color: indianred;
}

.login, .register{
  font-size: 12px;
  width: 100px;
  height: 25px;
  border-radius: 3px;
  margin-right: 5px;
  border: black solid 1px;
}

.login{
  background-color: rgba(0,0,0,0);
}

.login:hover{
  background-color: #083741;
  color: #fff;
}

.register{
  background-color: #083741;
  color: white;
}

.register:hover{
  background-color: indianred;
}

@media only screen and (max-width: 763px) {
  .register{
    position: absolute;
    right: 10px;
    width: 60px;
  }

  .login{
    position: absolute;
    right: 80px;
    width: 60px;
  }
}

/* =======================================================
Navbar END
======================================================= */


/* =======================================================
landing page content
======================================================= */
.landing-img{
  width: 70%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
}

.green-bg h1{
  position: relative;
  top: 73%;
  text-align: center;
  font-size: 4em;
  font-weight: 500;
  bottom: auto;
  text-transform: capitalize;
  color: #215C51;
}

.green-bg p{
  position: relative;
  top: 75%;
  text-align: center;
  bottom: auto;
  text-transform: capitalize;
  color: #6F968E;
}

@media only screen and (max-width: 763px){
  .landing-img{
    width: 80%;
    height: auto;
    top: 40%;
  }

  .green-bg h1{
    font-size: 2em;
  }
  .green-bg p{
    margin: 0 8% 0 8%;
    font-size: 12px;
  }
}

/* =======================================================
landing page content end
======================================================= */

/* =======================================================
Banner Columns Cards
======================================================= */

.banner-col{
  margin-top: 150px;
}

.banner-col .container{
  width: 100%;
  margin: 0 auto;
}

.banner-col .row{
  margin-bottom: 90px;
}

.banner-col h1{
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: #083741;
  margin-top: -10px;
  margin-bottom: 70px;
}

.banner-col p{
  text-align: center;
  font-size: 18px;
  color: #FF4B4B;
}

.banner-col .card{
  width: 500px;
}

.sm-img img{
  width: 40px;
  height: 40px;
  margin: 50px 0 10px 0;
}

.sm-img h3{
  font-weight: 600;
  color: #083741;
}

.sm-img p{
  font-size: 14px;
  text-align: justify;
  margin-top: 10px;
}

.img img{
  width: 100%;
  height: auto;
}