@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}


.login-bg {
  margin: 0;
  padding: 0;
  background: #C4E5D4;
  width: 100%;
  height: 100vh;
  font-size: 16px;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
} 

#login-box {
position: absolute;
top: 42%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  
  width: 600px;
  height: 400px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

#login-box h1{
    position: absolute;
    left: 43%;
    top: 30px;
}

.left {
  position: absolute;
  top: 25%;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 200px;  
}

h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
}

input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

input[type="submit"] {
  margin-top: 0px;
  margin-left: 45px;
  width: 120px;
  height: 32px;
  background: #16a085;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.or {
  position: absolute;
  top: 180px;
  left: 280px;
  width: 40px;
  height: 40px;
  background: #DDD;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  line-height: 40px;
  text-align: center;
}

.right {
  position: absolute;
  top: 120px;
  right: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 200px;  
  background: url('https://goo.gl/YbktSj');
  background-size: cover;
  background-position: center;
  border-radius: 0 2px 2px 0;
}


button.social-signin {
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
}

button.social-signin:hover,
button.social-signin:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}


button.social-signin.linkedin {
  background: #55ACEE;
}

button.social-signin.google {
  background: #DD4B39;
}

.login-new{
  position: absolute;
  bottom: 20px;
  left: 35%;
}

@media only screen and (max-width: 763px){
  .login-bg{
    width: 100%;
    height: 100vh;
  }

  #login-box {
    margin: 10% auto;
    width: 300px;
    height: 600px;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  
  #login-box h1{
    position: absolute;
    left: 35%;
  }
  
  .left{
    position: absolute;
    top: 50px;
  }

  input[type="submit"] {
    margin-top: 10px;
    position: absolute;
    left: 16%;
  }
  .or{
    position: absolute;
    top: 280px;
    left:43%;
  }

  .right{
    position: absolute;
    top: 340px;
    left: 0;
    width: 300px;
    height: 200px;    
  }
  
  .login-new{
    position: absolute;
    left: 20%;
  }

}